node_modules
site/source/assets/stylesheets/kickoff/kickoff.css
site/source/assets/stylesheets/kickoff/kickoff.css.map
site/source/assets/javascripts/kickoff/kickoff.js
site/source/assets/javascripts/kickoff/kickoff.js.map

*.swp
*.diff
*.err
*.log
*.swo
*.vi

.cache
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
