<!doctype html>
<html class="bc-primary" lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <title>Kickoff - Unsupported Browser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="kickoff">
    <meta name="mobile-web-app-capable" content="kickoff">
    <meta name="application-name" content="kickoff">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="author" content="">
    <meta name="keywords" content="kickoff">
    <meta name="description" content="kickoff">
    <link rel="shortcut icon" href="<%= asset_url('favicon.ico') %>">
  </head>
  <body>

    <h1 style="margin: 100px auto; max-width: 660px">
      Kickoff目前处在测试版迭代阶段，主要目的为核心功能完善及功能性bug修复，暂不兼容当前浏览器。
      请使用新版Chrome或Firefox体验。
    </h1>

  </body>
</html>
